<!doctype html>
<html ng-app="userModel">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<title> {{ name }} </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<style>
html body {
    background-image: url('http://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg');
}
html, body, h1, h2, h3, li, button, input, select, textarea {
    color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
a, a:active, a:link, a:visited, .anchor {
    color: #0654BA;
    text-decoration: none;
}
.logo{
    padding:10px;

}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0px none;
}
@media(max-width:767px){
    .logo img{
        height:35px;
        padding:5px 5px 3px;
    }
}
.mbm50{
    margin-bottom:40px !important;
}
.navbar-inverse{
    background: #fff !important;
    border:0px none !important;
    border-bottom:1px solid #ddd !important;
}
.sub_view {
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    box-shadow: 4px 4px 1px #EEE;
    margin-bottom: 20px;
    padding: 10px;
}

div.dbTableView{
    width:100%;
    line-height:100%;
    font-size:12px;
}

div.dbTableView .dhead{
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
}

div.dbTableView .icon .feedback{
    padding-left:18px;
    background:url(http://q.ebaystatic.com/aw/pics/icon/iconPos_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .icon .feedback.negative{
    background:url(http://q.ebaystatic.com/aw/pics/icon/iconNeg_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .icon .feedback.neutral{
    background:url(http://p.ebaystatic.com/aw/pics/icon/iconNeu_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .buyer_star{
    padding-top:1px;
}
div.dbTableView .buyer_star img{
    width:20px; height:20px; vertical-align:middle position:relative;top:-1px;
}

div.dbTableView .offers{
    position:absolute;
    right:5px;
    top:5px;
    min-width:100px;
    text-align:right;
}

div.dbTableView .ditems{
    border:1px solid #dedede;
    border-radius:5px;
    margin-bottom:10px;
    position:relative;
    padding:5px;
    vertical-align:top;
}
div.dbTableView div{
    padding:3px 0px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    div.dbTableView .icon div{
        width:200px;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    div.dbTableView .icon{
        background-size: 10px 10px;
        padding-left:5px;
    }
    div.dbTableView .icon .price{
        display:block;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    div.dbTableView .offers{
        min-width:60px;
    }
}

.filter *{
    font-size:11px;
    height:auto;
    
}
.filter input.form-control{
    width:25%;
    float:right;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .filter input.form-control{
        width:100%;
        float:none;
    }
    .filter_group .span5{
        float:none;
        display:block;
        width:100%;
        margin-bottom:10px;
        
    }
}
.filter_group{
    margin-bottom:20px;
}
.filter_group .span5{
    float:left;font-weight:bold;font-size:11px;
}

.offers .green, .offers .blue{
    padding:2px 4px;
    color:#fff;
    border-radius:2px;
    font-size:11px;
}
.offers .green{
    background-color:green;
    width:40px;
    display:inline-block;
}
.offers .blue, .offers .green{
    background-color:gray;
    width:40px;
    display:inline-block;
    text-align:center;
}
</style>
</head>
<body>
<form name="feedbackForm">
<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
<div class="header">
<div class="logo"><a href="http://www.ebay.com/"><img src="http://ir.ebaystatic.com/pictures/aw/pics/logos/logoEbayNew.png" alt="eBay logo" border="0"></a></div>
</div>

</div>
</nav>
<div class="container" ng-controller="userController">


<div class="sub_view mbm50">
    <div ng-include="'dataView'"></div>
</div>
<div class="sub_view">
    <div ng-include="'graphView'"></div>
</div>
</div>
</form>



<!-- Load jQuery, BootStrap and AngularJS from the CDN. -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<!-- Load the app module and its classes. -->
<script type="text/javascript">

var userApp = angular.module('userModel', []);

userApp.controller('userController', function ($scope) {
                   $scope.feedback = "Feedback revised";
                   $scope.name = "From Buyers";
                   $scope.offers = "Offers";
                   
                   $scope.dataItems = [ { "buyer_id" : "android_bot",
                                       "buyer_info" : { "buyer_name" : "android_bot",
                                       "feedback_star" : "http://p.ebaystatic.com/aw/pics/icon/iconRedStar_25x25.gif",
                                       "logo_img_url" : "http://i.ebayimg.com/00/$(KGrHqVHJ!0E-bN+NOOmBPzk2WqCP!~~_7.JPG",
                                       "member_since" : "May-09-99 in United States",
                                       "total_feedback_score" : "1309"
                                       },
                                       "creation_date" : "Sep-30-09",
                                       "feedback_comments" : "My daughter loves it! Thank you!",
                                       "feedback_id" : "1234",
                                       "feedback_rating" : "positive",
                                       "id" : "1",
                                       "item_id" : "171464416578",
                                       "item_price" : "US $84.99",
                                       "item_title" : "Chatsters - Pop Star Gabby Interactive Doll, Toys R Us Exclusive (#171464416578)",
                                       "last_modified_date" : "Sep-30-09",
                                       "offer_details" : { "discount" : "",
                                       "offer_info" : "",
                                       "offer_sent" : "No",
                                       "offer_status" : "",
                                       "refund_amount" : ""
                                       },
                                       "seller_id" : "toysrus",
                                       "seller_info" : { "feedback_star" : "http://q.ebaystatic.com/aw/pics/icon/iconShootRed_25x25.gif",
                                       "logo_img_url" : "http://i.ebayimg.com/15/!!f%29212w!%28U~$%28KGrHqIOKnMEz4Ohhmi5BNGg3%29TwR!~~_7.GIF",
                                       "member_since" : "Sep-30-09 in United States",
                                       "seller_name" : "toysrus",
                                       "total_feedback_score" : "238,137"
                                       }
                                       },
                                       { "buyer_id" : "ezofficetech",
                                       "buyer_info" : { "buyer_name" : "ezofficetech",
                                       "feedback_star" : "http://q.ebaystatic.com/aw/pics/icon/iconTealStar_25x25.gif",
                                       "logo_img_url" : "http://p.ebaystatic.com/aw/social/avatar.png",
                                       "    member_since" : "May-16-12 in United States",
                                       "total_feedback_score" : "347"
                                       },
                                       "creation_date" : "Sep-30-10",
                                       "feedback_comments" : "They sent the wrong figure and it was late. Very disappointed in Toysrus.",
                                       "feedback_id" : "1235",
                                       "feedback_rating" : "negative",
                                       "id" : "2",
                                       "item_id" : "171529168433",
                                       "item_price" : "US $12.99",
                                       "item_title" : "Power Rangers Mighty Morphin' Legacy Mighty Morphin Green Ranger (#171529168433)",
                                       "last_modified_date" : "Sep-30-10",
                                       "offer_details" : { "discount" : "",
                                       "offer_info" : "Partial_Refund",
                                       "offer_sent" : "Yes",
                                       "offer_status" : "Pending",
                                       "refund_amount" : "US $10"
                                       },
                                       "seller_id" : "toysrus",
                                       "seller_info" : { "feedback_star" : "http://q.ebaystatic.com/aw/pics/icon/iconShootRed_25x25.gif",
                                       "logo_img_url" : "http://i.ebayimg.com/15/!!f%29212w!%28U~$%28KGrHqIOKnMEz4Ohhmi5BNGg3%29TwR!~~_7.GIF",
                                       "member_since" : "Sep-30-09 in United States",
                                       "seller_name" : "toysrus",
                                       "total_feedback_score" : "238137"
                                       }
                                       },
                                       { "buyer_id" : "wutaday",
                                       "buyer_info" : { "buyer_name" : "wutaday",
                                       "feedback_star" : "http://q.ebaystatic.com/aw/pics/icon/iconTealStar_25x25.gif",
                                       "logo_img_url" : "http://pics.ebaystatic.com/aw/pics/community/myWorld/imgBuddyBig7.gif",
                                       "member_since" : "Oct-27-10 in United States",
                                       "total_feedback_score" : "393"
                                       },
                                       "creation_date" : "Sep-30-11",
                                       "feedback_comments" : "7 days late & in horrible condition. Good communication saved from neg. rating",
                                       "feedback_id" : "1236",
                                       "feedback_rating" : "neutral",
                                       "id" : "3",
                                       "item_id" : "171517651962",
                                       "item_price" : "US $29.99",
                                       "item_title" : "1:18 Sons of Anarchy Motorcycle - Jackson Teller 2003 Harley-Davidson (#171517651962)",
                                       "last_modified_date" : "Sep-30-11",
                                       "offer_details" : { "discount" : "30%",
                                       "offer_info" : "Promotion",
                                       "offer_sent" : "Yes",
                                       "offer_status" : "Pending",
                                       "refund_amount" : ""
                                       },
                                       "seller_id" : "toysrus",
                                       "seller_info" : { "feedback_star" : "http://q.ebaystatic.com/aw/pics/icon/iconShootRed_25x25.gif",
                                       "logo_img_url" : "http://i.ebayimg.com/15/!!f%29212w!%28U~$%28KGrHqIOKnMEz4Ohhmi5BNGg3%29TwR!~~_7.GIF",
                                       "member_since" : "Sep-30-09 in United States",
                                       "seller_name" : "toysrus",
                                       "total_feedback_score" : "238137"
                                       }
                                       }
                                       ];
                   
                   
                   
                   });



</script>

</body>
</html>