<!doctype html>
<html ng-app="userModel">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script>
    var pageData = <%- JSON.stringify(feedback)%>;
    </script>

<style>
html body {
    background-image: url('http://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg');
}
html, body, h1, h2, h3, li, button, input, select, textarea {
    color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
a, a:active, a:link, a:visited, .anchor {
    color: #0654BA;
    text-decoration: none;
}
.logo{
    padding:10px;

}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0px none;
}
}
@media(max-width:767px){
    .logo img{
        height:35px;
        padding:5px 5px 3px;
    }
}
.mbm50{
    margin-bottom:40px !important;
}
.navbar-inverse{
    background: #fff !important;
    border:0px none !important;
    border-bottom:1px solid #ddd !important;
}
.sub_view {
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    box-shadow: 4px 4px 1px #EEE;
    margin-bottom: 20px;
    padding: 10px;
}

div.dbTableView{
    width:100%;
    line-height:100%;
    font-size:12px;
}

div.dbTableView .dhead{
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
}

div.dbTableView .icon .feedback{
    padding-left:18px;
    background:url(http://q.ebaystatic.com/aw/pics/icon/iconPos_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .icon .feedback.negative{
    background:url(http://q.ebaystatic.com/aw/pics/icon/iconNeg_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .icon .feedback.neutral{
    background:url(http://p.ebaystatic.com/aw/pics/icon/iconNeu_16x16.gif) no-repeat left 2px;
    background-size: 12px 12px;
}
div.dbTableView .buyer_star{
    padding-top:1px;
}
div.dbTableView .buyer_star img{
    width:20px; height:20px; vertical-align:middle position:relative;top:-1px;
}

div.dbTableView .offers{
    position:absolute;
    right:5px;
    top:5px;
    min-width:100px;
    text-align:right;
}

div.dbTableView .ditems{
    border:1px solid #dedede;
    border-radius:5px;
    margin-bottom:10px;
    position:relative;
    padding:5px;
    vertical-align:top;
}
div.dbTableView div{
    padding:3px 0px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    div.dbTableView .icon div{
        width:200px;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    div.dbTableView .icon{
        background-size: 10px 10px;
        padding-left:5px;
    }
    div.dbTableView .icon .price{
        display:block;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    div.dbTableView .offers{
        min-width:60px;
    }
}

.filter *{
    font-size:11px;
    height:auto;
    
}
.filter input.form-control{
    width:25%;
    float:right;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .filter input.form-control{
        width:100%;
        float:none;
    }
    .filter_group .span5{
        float:none;
        display:block;
        width:100%;
        margin-bottom:10px;
        
    }
}
.filter_group{
    margin-bottom:20px;
}
.filter_group .span5{
    float:left;font-weight:bold;font-size:11px;
}

.offers .green, .offers .blue{
    padding:2px 4px;
    color:#fff;
    border-radius:2px;
    font-size:11px;
}
.offers .green{
    background-color:green;
    width:40px;
    display:inline-block;
}
.offers .blue, .offers .green{
    background-color:gray;
    width:40px;
    display:inline-block;
    text-align:center;
}
.offers .f, .offers .r{
    z-index:1000;
    margin-top:2px;
    padding:10px;
    background:#f9f9f9;
    border:1px solid #eee;
    border-radius:5px;
    width:270px;
    
}

.offers input{
    width:150px;
    float:left;
}
.offers .f, .offers .r{
    display:none;
    }
.offers.s_d .f, .offers.s_r .r{
    display:block;
}

.offers .tweet{
    padding:3px;
    background:gray;
    width:auto;
    border-radius:2px;
    text-align:center;
    color:#fff;
    margin-top:5px;
    
}
</style>
</head>
<body>
<form name="feedbackForm">
<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
<div class="header">
<div class="logo"><a href="http://www.ebay.com/"><img src="http://ir.ebaystatic.com/pictures/aw/pics/logos/logoEbayNew.png" alt="eBay logo" border="0"></a></div>
</div>

</div>
</nav>
<div class="container" ng-controller="userController" >


<div class="sub_view mbm50">
    <div ng-include="'../dataView'"></div>
</div>

<div class="alert alert-info" role="alert" id="show_alert" style="display:none;">
    <a href="#" class="alert-link">
        
    </a>
</div>

<div class="sub_view">
    <div ng-include="'../graphView'"></div>
</div>
</div>
</form>



<!-- Load jQuery, BootStrap and AngularJS from the CDN. -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script>
function graph() {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#container-graph').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Feedback for past 12 months'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Positive',   2500],
                ['Neutral',       819],
                {
                    name: 'Negative',
                    y: 1191,
                    sliced: true,
                    selected: true
                }
       
            ]
        }]
    });
}

window.onload = function(){
  setTimeout(graph, 1000);
}

</script>
<!-- Load the app module and its classes. -->
<script type="text/javascript">
 
var test,userApp = angular.module('userModel', []);

        
userApp.controller('userController', function ($scope, feedbackService) {
                   $scope.feedback = "Feedback revised";
                   $scope.name = "From Buyers";
                   $scope.offers = "Offers";
                   
                   selectedFields();
                   $scope.dataItems = pageData;
                   getOffersInfo();
                   function loadRemoteData() {
                        feedbackService.getSellerView().then( function( data ) {
                                                             console.log(data);
                             $scope.dataItems = data;
                        });
                   }
                   $scope.showOffers = {};
                   $scope.show_discount = false;
                   $scope.show_refund = false;
                   
              
                   $scope.sendOffer = function(id){
                    var ds = false, rf = false, data, that = $(id.target), funds = that.prev();
                   
                   
                   if(funds.attr('id') == 'discount'){
                    ds = true;
                   }else if(funds.attr('id') == 'refund_show'){
                    rf = true;
                   }
                   data = 'fid='+$(id.target).attr('id')+'&discount='+(ds ? funds.val() : '')+'&offer_info='+(ds ? "discount" : "refund")+'&offer_sent=Yes&offer_status=pending&refund_amount='+(rf ? funds.val() : '');
                   
                   var sodata = {};
                   sodata.fid = $(id.target).attr('id');
                   sodata.discount = (ds ? funds.val() : '');
                   sodata.offer_info = (ds ? "discount" : "refund");
                   sodata.offer_sent = "Yes";
                   sodata.offer_status = "pending";
                   sodata.refund_amount = (rf ? funds.val() : '');
                   
                   var div = $('<div class="tweet"/>'), target =  $(id.target).parents('.offers'), select = target.find('select').first();
                   select.attr('disabled','true');
                   target.removeClass('s_d').removeClass('s_r');
                   div.html('Offer Sent').insertAfter(select);

                        feedbackService.updateInfo(sodata).then( function(  ) {
                                                              var div = $('<div class="tweet"/>'), target =  $(id.target).parents('.offers'), select = target.find('select').first();
                                                              select.attr('disabled','true');
                                                              target.removeClass('s_d').removeClass('s_r');
                                                              div.html('Offer Sent').insertAfter(select);
                                                        });


                   }
                   
                   function getOffersInfo(){
                   setTimeout(function(){
                                var select_dis = $('select[ng-disabled=true]');
                                for(var j= 0, size = select_dis.length; j < size; j++){
                                    var div = $('<div class="tweet"/>'), r = $(select_dis[j]).attr('data') == 'refund', d = $(select_dis[j]).attr('data') == 'discount';
                              
                                    if(r){
                                        select_dis[j][2].selected = true;
                              
                                    }else if(d){
                                        select_dis[j][1].selected = true;
                              
                                    }
                                    div.html( $(select_dis[j]).attr('status') ).insertAfter($(select_dis[j]));
                                    $(select_dis[j]).attr('disabled','true');
                                }
                              
                              },1000);
                   
                   }
                   
                   function selectedFields(){
                        setTimeout( function(){
                              
                              $('.offersLayout').bind('change',function(){
                                                      var parents, selected = $(this).find('option:selected').text();
                                                      parents = $(this).parents('.offers').first();
                                                      if(selected == 'Discount'){
                                                        parents.addClass('s_d');
                                                      parents.removeClass('s_r');
                                                      }else if(selected == 'Partial refund'){
                                                        parents.addClass('s_r');
                                                        parents.removeClass('s_d');
                                                      }else{
                                                      parents.removeClass('s_r').removeClass('s_d');
                                                    }
                                                      })}, 1000);
                   
                   }



                   
                   });
                   
                   
                   userApp.service("feedbackService",
                               function( $http, $q ) {
                               
                               // Return public API.
                               return({
                                      getBuyerView: getBuyerView,
                                      getSellerView: getSellerView,
                                      getBuyerFeedback: getBuyerFeedback,
                                      updateInfo: updateInfo
                                      });
                               
                               
                               // ---
                               // PUBLIC METHODS.
                               // ---
                               
                               
                              
                                   function updateInfo( data ) {

   // io.socket.get('/feedbackcurator/sendoffer/',data);

                                   
                                   var request = io.socket.get('/feedbackcurator/sendoffer/',data);
                                   
                                   return( request.then( handleSuccess, handleError ) );
                                   
                                   }
                                   
                               function getBuyerView( id ) {
                               
                               var request = $http({
                                                   method: "get",
                                                   url: "http://localhost:1337/feedbackcurator/buyerview?bid=android_bot",
                                                   params: {
                                                    action: "get"
                                                   },
                                                   data: {
                                                   name: ''
                                                   }
                                                   });
                               
                               return( request.then( handleSuccess, handleError ) );
                               
                               }
                                   
                               function getSellerView( id ) {
                                   
                                   var request = $http({
                                                       method: "get",
                                                       url: "http://localhost:1337/feedbackcurator/sellerview?sid=toysrus",
                                                       params: {
                                                       action: "get"
                                                       },
                                                       data: {
                                                       name: ''
                                                       }
                                                       });
                                   
                                   return( request.then( handleSuccess, handleError ) );
                                   
                                   }
                               
                               
                               // I get all of the friends in the remote collection.
                               function getBuyerFeedback( id ) {
                               
                               var request = $http({
                                                   method: "get",
                                                   url: "http://localhost:1337/feedback/viewfeed?fid=" + id,
                                                   params: {
                                                   action: "get"
                                                   }
                                                   });
                               
                               return( request.then( handleSuccess, handleError ) );
                               
                               }
                               
                               
                                   
                               // ---
                               // PRIVATE METHODS.
                               // ---
                               
                               
                               // I transform the error response, unwrapping the application dta from
                               // the API response payload.
                               function handleError( response ) {
                               
                               // The API response from the server should be returned in a
                               // nomralized format. However, if the request was not handled by the
                               // server (or what not handles properly - ex. server error), then we
                               // may have to normalize it on our end, as best we can.
                               if (
                                   ! angular.isObject( response.data ) ||
                                   ! response.data.message
                                   ) { return( $q.reject( "An unknown error occurred." ) );  }
                               
                               // Otherwise, use expected error message.
                               return( $q.reject( response.data.message ) );
                               
                               }
                               
                               
                               // I transform the successful response, unwrapping the application data
                               // from the API response payload.
                               function handleSuccess( response ) { return( response.data );  }
                               
                               });



                               
                               




</script>

    <script>
        window.onload = function subscribeAndListen(){
            // When the document loads, send a request to users.handleoffers
            // The controller code will subscribe you to the model 'users'
            // io.socket.get('/feedbackcurator/sendoffer/');
            io.socket.get('/feedbackcurator/acceptoffer/');
            
            // Listen for the event called 'user' emited by the publishCreate() method.
            io.socket.on('feedbackcurator',function(obj){
debugger;
                         if (obj.verb == 'created') {
                         var data = obj.data;
                         /*     if(data.type == "sendoffer"){
                          alert("send offer triggered!!");
                          } else*/ if(data.type == "acceptoffer"){
                                        var select = $('#'+ data.feedback_id).parents('.offers').find('.tweet').first();
                                            select.html('Accepted');
                         
                         document.getElementById('show_alert').style.display = 'block';
                         document.querySelector('.alert-link').innerHTML =
                                "Heads up! Buyer accepted your offer <a href=" + "#"+data.feedback_id +"> check this</a>";
                         }
                         }
                         });
        };
    </script>
    
</body>
</html>