
 
    <!--SCRIPTS END-->
<script src="/js/dependencies/sails.io.js"></script>
    <script>
 /*  io.socket.get("/feedbackcurator", function(resData, jwres) {console.log(resData);})
   io.socket.on("feedbackcurator", function(event){console.log(event);})
   */
 /*   io.socket.get("/feedback", function(resData, jwres) {console.log(resData);})
   io.socket.on("feedback", function(event){console.log(event);})*/
/*
io.socket.get("/offers", function(resData, jwres) {console.log(resData);})
   io.socket.on("privateMessage", function(event){console.log(event);})
*/
    </script>
    <script type="text/javascript">
window.onload = function subscribeAndListen(){
    // When the document loads, send a request to users.handleoffers
    // The controller code will subscribe you to the model 'users'
    io.socket.get('/feedbackcurator/sendoffer/');
    io.socket.get('/feedbackcurator/acceptoffer/');

    // Listen for the event called 'user' emited by the publishCreate() method.
    io.socket.on('feedbackcurator',function(obj){
      if (obj.verb == 'created') {
         var data = obj.data;
         if(data.type == "sendoffer"){
			alert("send offer triggered!!");
         } else if(data.type == "acceptoffer"){
         		alert("accept offer triggered!!");
         }
      }
    });
};

function makeNew(){

    // Send the new users name to the 'handleoffers' action on the 'users' contoller

    io.socket.get('/feedbackcurator/sendoffer/',{
  	"fid":"1234",
  	"discount":"",
  	"offer_info":"Partial_Refund",
  	"offer_sent": "Yes",
  	"offer_status": "Pending",
  	"refund_amount": "US $2"});

}
function acceptOffer(){

    // Send the new users name to the 'handleoffers' action on the 'users' contoller

    io.socket.get('/feedbackcurator/acceptoffer/',
  	{"fid":"1234",
  	"discount":"",
  	"offer_info":"Partial_Refund",
  	"offer_sent": "Yes",
  	"offer_status": "Pending",
  	"refund_amount": "US $2"});
}

</script>
<div class="addButton" onClick="makeNew()">Send offer</div>
 

<div class="addButton" onClick="acceptOffer()">Accept offer</div>