<div class="dview">


<div class="filter_group">
    <span class="span5">{{dataItems[0].seller_info.total_feedback_score}} Feedback received</span>
<div class="input-group filter">
    <input type="text" class="form-control" placeholder="Filter title" ng-model="filterfn.$">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Period <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Past 1 month</a></li>
                <li><a href="#">Past 6 months</a></li>
                <li><a href="#">Past 12 months</a></li>
                <li class="divider"></li>
                <li><a href="#">All</a></li>
            </ul>
        </div><!-- /btn-group -->
        </div>
</div>
<table class="dbTableView" cellpadding="0" cellspacing="0" border="0">
<thead>
<th>{{feedback}}</th>
<th>{{offers}}</th>
</thead>

<tbody>
<tr ng-repeat="(key, val) in dataItems | filter: filterfn : strict">
        <td class="icon">
            <div>{{dataItems[key].feedback_comments}}</div>
            <div>
<a href="http://www.ebay.com/itm/{{dataItems[key].item_id}}">{{dataItems[key].item_title}}</a>
            </div>
            <div class="buyer_star">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <a href="http://www.ebay.com/usr/{{dataItems[key].buyer_info.buyer_name}}"><span>{{dataItems[key].buyer_info.buyer_name}}</span>
                    ( <span>{{dataItems[key].buyer_info.total_feedback_score}}</span><img src="{{dataItems[key].buyer_info.feedback_star}}" />
                    )</a>
                <span class="price">${{dataItems[key].item_price}}</span>
            </div>
        </td>
        
        <td class="offers"> <span ng-class="{'green': dataItems[key].offer_details.offer_sent == 'No', 'blue': dataItems[key].offer_details.offer_sent == 'Yes'}">{{dataItems[key].offer_details.offer_sent}}</span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span  class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </td>
    </tr>
</tbody>
<thead>
</tfoot>
</tfoot>

</div>