<div>
<style type="text/css">
table.dbTableView{
width:100%;
}
table.dbTableView, table.dbTableView td, table.dbTableView th{
padding:5px;
border-collapse:collapse;
vertical-align:top;
}
table.dbTableView th{
border-bottom:1px solid #ddd;
}

table.dbTableView .icon{
        padding-left:25px;
background:url(http://q.ebaystatic.com/aw/pics/icon/iconPos_16x16.gif) no-repeat left 10px;
}
</style>

<table class="dbTableView" cellpadding="0" cellspacing="0" border="0">
<thead>
<th>{{feedback}}</th>
<th>{{name}}</th>
<th>{{offers}}</th>
</thead>

<tbody>
    <tr ng-repeat="(key, val) in dataItems">
        <td class="icon">{{dataItems[key].comment}}
            <div>
<a href="http://www.ebay.com/itm/{{dataItems[key].itemid}}">{{dataItems[key].title}}</a>
            </div>
        </td>
        <td>
            <span>{{dataItems[key].users.name}}</span>
            (<span>{{dataItems[key].users.score}}</span>)
            <div>${{dataItems[key].price}}</div>
        </td>
        <td>
<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </td>
    </tr>
</tbody>
<thead>
</tfoot>
</tfoot>

</div>