<div class="dview">


<div class="filter_group">
    <span class="span5">{{dataItems[0].seller_info.total_feedback_score}} Feedback received</span>
    <!-- btn-group -->
<div class="input-group filter">
    <input type="text" class="form-control" placeholder="Filter title" ng-model="filterfn">
        <div class="input-group-btn">
            <button ng-click="getBuyerView" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Period <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Past 1 month</a></li>
                <li><a href="#">Past 6 months</a></li>
                <li><a href="#">Past 12 months</a></li>
                <li class="divider"></li>
                <li><a href="#">All</a></li>
            </ul>
        </div><!-- /btn-group -->
        </div>
</div>
<div class="dbTableView">
<div class="dhead">
    <b>{{feedback}}</b>
</div>
<div class="ditems" ng-repeat="data in dataItems | filter: filterfn">
        <div class="icon">
            <div class="feedback" ng-class="{'negative': data.feedback_rating == 'negative', 'neutral': data.feedback_rating == 'neutral'}">
                {{data.feedback_comments}}</div>
            <div>
<a href="http://www.ebay.com/itm/{{data.item_id}}">{{data.item_title}}</a>
            </div>
            <div class="buyer_star">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <a href="http://www.ebay.com/usr/{{data.buyer_info.buyer_name}}"><span>{{data.buyer_info.buyer_name}}</span>
                    ( <span>{{data.buyer_info.total_feedback_score}}</span><img src="{{data.buyer_info.feedback_star}}" />
                    )</a>
                <span class="price">${{data.item_price}}</span>
            </div>
        </div>
        
        <div style="inline-block" class="offers">
            <div id="offerInfo">
                <select class="offersLayout" status="{{data.offer_details.offer_status}}" data="{{data.offer_details.offer_info}}" ng-disabled="{{data.offer_details.offer_sent == 'Yes'}}">
                    <option selected="selected" value="">-Send offer-</option>
                    <option value="">Discount</option>
                    <option value="">Partial refund</option>
                </select>
               <div class="f">
                    <input id="discount" class="form-control" placeholder="Discount"></input>
                    <button class="sendOffer btn btn-default" ng-click="sendOffer($event)" id="{{data.feedback_id}}">Send Offer</button>
                </div>
                <div class="r">
                    <input id="refund_show" class="form-control" placeholder="Partial refund"></input>
                    <button class="sendOffer btn btn-default" ng-click="sendOffer($event)" id="{{data.feedback_id}}">Send Offer</button>
                </div>
                
            </div>
            
        </div>
        
        
    </div>
</div>
</div>